.mushroom {
  color: brown;
}
.flour {
  color: tan;
}
.cabbage {
  color: green;
}
.cheese {
  color: goldenrod;
}
.raw-meat {
  color: maroon;
}
.mint {
  color: powderblue;
}
.berry {
  color: gold;
}
.fish {
  color: silver;
}
.jueyun-chili {
  color: crimson;
}
.violetgrass {
  color: slateblue;
}
.sugar {
  color: aliceblue;
}
.bamboo-shoot {
  color: darkolivegreen;
}
.bird-egg {
  color: slategrey;
}
.fowl {
  color: burlywood;
}
.snapdragon {
  color: orange;
}
.lavender-melon {
  color: mediumslateblue;
}
.matsutake {
  color: rgb(82, 46, 22);
}
.pinecone {
  color: rgb(105, 68, 43);
}
.sausage {
  color: rgb(150, 63, 29);
}
.small-lamp-grass {
  color: rgb(24, 85, 177);
}
.tofu {
  color: peachpuff;
}
.calla-lily {
  color: rgb(196, 57, 103);
}
.seagrass {
  color: rgb(14, 73, 14);
}
