.cook-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 85%;
	box-sizing: border-box;
	padding: 5%;
	overflow-y: auto;
}

.panel {
	width: 25%;
	height: 95%;
	min-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	user-select: none;
}

.panel-mid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.panel-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.panel-title {
	padding: 10px;
	text-align: center;
	width: 100%;
	transition: all 1s linear;
}

.tabs {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.tab {
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-family: 'Brush Script MT', cursive;
	background-color: rgba(148, 148, 148, 0.5);
	margin: 5px 5px 5px 5px;
	transition: box-shadow 0.3s ease;
	cursor: pointer;
	box-sizing: border-box;
}
.tab:hover {
	-webkit-box-shadow: 0 0 5px 3px rgb(255, 255, 255);
	box-shadow: 0 0 5px 3px rgb(255, 255, 255);
}

.active {
	background-color: rgb(102 102 102);
	animation: glow 400ms cubic-bezier(0.65, 0.05, 0.36, 1) infinite alternate;
	border: 2px solid white;
}

@keyframes glow {
	0% {
		-webkit-box-shadow: 0 0 2px 1px rgb(255, 255, 255);
		box-shadow: 0 0 2px 1px rgb(255, 255, 255);
	}
	100% {
		-webkit-box-shadow: 0 0 4px 2px rgb(255, 255, 255);
		box-shadow: 0 0 4px 2px rgb(255, 255, 255);
	}
}

.dish-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
}

.dish-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.dish-tile {
	width: 6vw;
	min-width: 90px;
	height: 100px;
	margin: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
	transition: transform 200ms linear;
	max-width: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 23px;
	color: whitesmoke;
}
.dish-tile:hover {
	-webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	animation: pulsate-fwd 1s ease-in-out infinite both;
}

.dish-title {
	font-size: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	padding-bottom: 5px;
}

.dish-effect {
	height: 60%;
	font-size: 9px;
	overflow-y: auto;
	border-top: dashed 1px #9b7d67;
	border-bottom: dashed 1px #9b7d67;
	padding-top: 3px;
}

.dish-stars {
	height: fit-content;
	color: #fecd00;
	font-size: 14px;
	display: flex;
	padding: 2px 0 2px 0;
	justify-content: center;
	align-items: center;
}

.three-star-scroll {
	background-image: url(../../../public/imgs/scroll-3star.png);
}
.four-star-scroll {
	background-image: url(../../../public/imgs/scroll-4star.png);
}
.five-star-scroll {
	background-image: url(../../../public/imgs/scroll-5star.png);
}

.three-star {
	background: rgb(59, 95, 130);
	background: linear-gradient(
		180deg,
		rgba(59, 95, 130, 0.75) 0%,
		rgba(88, 131, 173, 0.75) 100%
	);
}
.four-star {
	background: rgb(102, 74, 110);
	background: linear-gradient(
		180deg,
		rgba(102, 74, 110, 0.75) 0%,
		rgba(140, 104, 150, 0.75) 100%
	);
}
.five-star {
	background: rgb(149, 102, 31);
	background: linear-gradient(
		180deg,
		rgba(149, 102, 31, 0.75) 0%,
		rgba(245, 168, 53, 0.75) 100%
	);
}

.mealprep-container {
	overflow-y: hidden;
	overflow-x: hidden;
	/* height: 100%; */
	width: -webkit-fill-available;
}

.meal-row {
	background-color: rgba(131, 131, 131, 0.5);
	color: whitesmoke;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
	box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.5);
	max-width: 300px;
	width: -webkit-fill-available;
}

.meal-ingredients {
	padding-left: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
}

.meal-ingredient {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	transition: transform 200ms linear;
	box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.meal-ingredient:hover {
	transform: scale(1.1);
	/* border: 2px solid white; */
}
.ingredient-icon {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.unset-width {
	width: unset;
}

.ingredient-name {
	display: inline-flex;
	text-transform: capitalize;
	height: fit-content;
	font-size: 8px;
	padding-bottom: 2px;
	text-align: center;
}
.ingredient-qty {
	display: inline-flex;
	float: right;
}

.meal-header {
}

.meal-name {
	display: inline-block;
	width: 80%;
	overflow-x: hidden;
	max-width: 210px;
}

.meal-qty {
	display: flex;
	float: right;
	align-items: center;
	cursor: default;
}

.meal-count {
	padding: 0 2px 0 2px;
}
.meal-icon {
	cursor: pointer;
	font-size: 20px;
	border-radius: 100%;
	transition: background-color 0.3s linear;
}
.meal-icon.plus {
	color: #ff6962;
}
.meal-icon.minus {
	color: #5fa777;
}
.meal-icon:hover {
	background-color: rgba(204, 204, 204, 0.5);
}

.ingredient-totals {
	overflow-y: auto;
	overflow-x: hidden;
	/* height: 100%; */
	width: -webkit-fill-available;
}

.ingredient-totals-row {
	background-color: rgb(39 39 39 / 70%);
	color: whitesmoke;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
	box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.5);
	max-width: 300px;
	width: -webkit-fill-available;
	display: flex;
	justify-content: left;
	align-items: center;
}

.ingredient-total-name {
	width: 100%;
	padding-left: 10px;
	text-transform: capitalize;
}
.ingredient-total-qty {
	float: right;
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
	animation: pulsate-fwd 2s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-20 4:32:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.075);
		transform: scale(1.075);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.075);
		transform: scale(1.075);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-20 4:38:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.bell-container {
	transform: rotate(15deg);
	position: absolute;
	top: -30px;
	right: -15px;
}

#bell-svg {
	fill: goldenrod;
}

.bell {
	display: block;
	width: 50px;
	height: 50px;
	opacity: 0;
	-webkit-transform-origin: 50% 4px;
	transform-origin: 50% 4px;
}

.swinging-bell {
	-webkit-animation: ring 4s ease-in-out;
	animation: ring 4s ease-in-out;
}

@-webkit-keyframes ring {
	0% {
		-webkit-transform: rotateZ(0);
	}
	1% {
		-webkit-transform: rotateZ(30deg);
	}
	3% {
		-webkit-transform: rotateZ(-28deg);
	}
	5% {
		-webkit-transform: rotateZ(34deg);
		opacity: 1;
	}
	7% {
		-webkit-transform: rotateZ(-32deg);
	}
	9% {
		-webkit-transform: rotateZ(30deg);
	}
	11% {
		-webkit-transform: rotateZ(-28deg);
	}
	13% {
		-webkit-transform: rotateZ(26deg);
	}
	15% {
		-webkit-transform: rotateZ(-24deg);
	}
	17% {
		-webkit-transform: rotateZ(22deg);
	}
	19% {
		-webkit-transform: rotateZ(-20deg);
	}
	21% {
		-webkit-transform: rotateZ(18deg);
	}
	23% {
		-webkit-transform: rotateZ(-16deg);
	}
	25% {
		-webkit-transform: rotateZ(14deg);
	}
	27% {
		-webkit-transform: rotateZ(-12deg);
	}
	29% {
		-webkit-transform: rotateZ(10deg);
	}
	31% {
		-webkit-transform: rotateZ(-8deg);
	}
	33% {
		-webkit-transform: rotateZ(6deg);
	}
	35% {
		-webkit-transform: rotateZ(-4deg);
	}
	37% {
		-webkit-transform: rotateZ(2deg);
	}
	39% {
		-webkit-transform: rotateZ(-1deg);
	}
	41% {
		-webkit-transform: rotateZ(1deg);
	}
	43% {
		-webkit-transform: rotateZ(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateZ(0);
	}
}

@keyframes ring {
	0% {
		transform: rotate(0);
	}
	1% {
		transform: rotate(30deg);
	}
	3% {
		transform: rotate(-28deg);
	}
	5% {
		transform: rotate(34deg);
		opacity: 1;
	}
	7% {
		transform: rotate(-32deg);
	}
	9% {
		transform: rotate(30deg);
	}
	11% {
		transform: rotate(-28deg);
	}
	13% {
		transform: rotate(26deg);
	}
	15% {
		transform: rotate(-24deg);
	}
	17% {
		transform: rotate(22deg);
	}
	19% {
		transform: rotate(-20deg);
	}
	21% {
		transform: rotate(18deg);
	}
	23% {
		transform: rotate(-16deg);
	}
	25% {
		transform: rotate(14deg);
	}
	27% {
		transform: rotate(-12deg);
	}
	29% {
		transform: rotate(10deg);
	}
	31% {
		transform: rotate(-8deg);
	}
	33% {
		transform: rotate(6deg);
	}
	35% {
		transform: rotate(-4deg);
	}
	37% {
		transform: rotate(2deg);
	}
	39% {
		transform: rotate(-1deg);
	}
	41% {
		transform: rotate(1deg);
	}
	43% {
		transform: rotate(0);
		opacity: 0;
	}
	100% {
		transform: rotate(0);
	}
}
