.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Andalé Mono", monospace;
}
